* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  background-color: #373737;
}

header h1 {
  position: absolute;
  width: 517px;
  height: 74px;
  left: 306px;
  top: 63px;
  font-style: normal;
  font-size: 60px;
  font-weight: 700px;
  line-height: 78.72px;
  color: #FFFFFF;
}

.label {
  position: absolute;
  width: 111px;
  height: 15px;
  left: 307px;
  top: 165px;
  font-weight: 400px;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.input {
  position: absolute;
  left: 306px;
  top: 185px;
  width: 171px;
  height: 48px;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
}

#pesquisar {
  position: absolute;
  width: 171px;
  height: 48px;
  left: 491px;
  top: 185px;
  background-color: #96EB95;
  border: 1px solid #96EB95;
  border-radius: 10px;
  color: #373737;
  cursor: pointer;
}

.result {
  position: absolute;
  width: 900px;
  height: 583px;
  left: 306px;
  top: 290px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
}

ul {
  height: 580px;
  width: 890px;
  overflow-y: scroll;
}

ul li {
  width: 190px;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
}